<div class="user-details-posts">
  <% unless posts.empty? %>
    <ul class="post-list-container">
      <% posts.each do |post| %>
        <div class="post-list-content user-show-posts">
          <div class="post-list-item">
            <li><%= link_to post.title, post, class: "h3" %></li>
            <p>
              <%= post.created_at.to_s(:date_jp) %>に投稿
              <% if post.likes_count %>
                <span>
                  <i class="fas fa-thumbs-up"></i><%= post.likes_count %>
                </span>
              <% end %>
            </p>
          </div>
          <div class="user-posts-btns">
            <% if current_user == user || current_user.admin? %>
              <%= link_to "編集", edit_post_path(post.id), class: "btn btn-outline-success btn-post-edit" %>
              <%= link_to "削除", post_path(post.id), class: "btn btn-outline-danger btn-post-delete", method: :delete, data: { confirm: "「#{post.title}」を削除してよろしいですか？" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </ul>
    <%= paginate posts %>
  <% else %>
    <div class="user-details-noposts post-list-container">
      <p>投稿がありません</p>
      <%= link_to new_post_path, class: "btn-outline-primary btn" do %>
        <i class='fas fa-pen'></i> 記事投稿
      <% end %>
    </div>
  <% end %>
</div>