<div class="user-show">
  <div class="user-details">
    <div class="user-details-content">
      <% if @user.image.attached? %>
        <%= image_tag @user.thumbnail, class: "user-details-img" %>
      <% else %>
        <%= image_tag 'noimage.png', class: "user-details-img" %>
      <% end %>
      <%= render partial: 'partial/follow_btn', locals: { user: @user } %>
      <p><i class="fas fa-user"></i> : <%= @user.name %></p>
      <p><i class="fas fa-envelope"></i> : <%= @user.email %></p>
      <% if @user.profile %>
        <div class="user-details-text">
          <p><%= @user.profile %></p>
        </div>
      <% end %>
      <%= link_to "編集", edit_user_registration_path %>
    </div>

    <% if @user.followings %>
      <%= render partial: 'partial/follow', locals: { user: @user } %>
    <% end %>
  </div>



  <div class="us-contents">
    <div class="us-posts-switch">
      <div class="us-timeline active" id="timeline-tab">タイムライン</div>
      <div class="us-myposts" id="myposts-tab"><%= @user.name %>さんの記事</div>
    </div>
    <div class="us-my-posts" id="myposts">
      <%= render partial: 'user_posts', locals: { posts: @posts, user: @user } %>
    </div>
    <div class="us-following-posts active" id="followinguser-posts">
      <%= render partial: 'following_posts', locals: { following_posts: @following_posts, user: @user } %>
    </div>
  </div>
  
</div>