<div class="user-show">
  <div class="user-details">
    <div class="user-details-content">
      <% if @user.image.attached? %>
        <%= image_tag @user.thumbnail, class: "user-details-img" %>
      <% else %>
        <%= image_tag 'noimage.png', class: "user-details-img" %>
      <% end %>
      <p><i class="fas fa-user"></i> : <%= @user.name %></p>
      <p><i class="fas fa-envelope"></i> : <%= @user.email %></p>
      <% if @user.profile %>
        <div class="user-details-text">
          <p><%= @user.profile %></p>
        </div>
      <% end %>
      <%= link_to "編集", edit_user_registration_path %>
    </div>
  </div>
  

  <div class="user-details-posts">
    <% unless @posts.empty? %>
      <ul class="post-list-container">
        <% @posts.each do |post| %>
          <div class="post-list-content">
            <li><%= link_to post.title, post, class: "h3" %></li>
            <p><%= post.created_at.to_s(:date_jp) %>に投稿</p>
          </div>
        <% end %>
      </ul>
      <%= paginate @posts %>
    <% else %>
      <div class="user-details-noposts post-list-container">
        <p>投稿がありません</p>
        <%= link_to new_post_path, class: "btn-outline-primary btn" do %>
          <i class='fas fa-pen'></i> 記事投稿
        <% end %>
      </div>
    <% end %>
  </div>
</div>