<div class="user-show">
  <div class="user-details">
    <div class="user-details-content">
      <% if @user.image.attached? %>
        <%= image_tag @user.thumbnail, class: "user-details-img" %>
      <% else %>
        <%= image_tag 'noimage.png', class: "user-details-img" %>
      <% end %>

      <!-- フォローボタン -->
      <%= render partial: 'partial/follow_btn', locals: { user: @user } %>
      <p><i class="fas fa-user"></i> : <%= @user.name %></p>
      <p><i class="fas fa-envelope"></i> : <%= @user.email %></p>
      <% if @user.profile %>
        <div class="user-details-text">
          <p><%= @user.profile %></p>
        </div>
      <% end %>

      <% if current_user == @user %>
        <%= link_to "編集", edit_user_registration_path %>
      <% end %>
    </div>

    <% if @user.followings %>
      <%= render partial: 'partial/follow', locals: { user: @user } %>
    <% end %>
  </div>



  <div class="us-contents">
    <div class="us-posts-switch">
      <% if current_user == @user %>
        <div class="us-timeline" id="timeline-tab">タイムライン</div>
      <% end %>
      <div class="us-myposts active" id="myposts-tab"><%= @user.name %>さんの記事</div>
    </div>
    <div class="us-my-posts active" id="myposts">
      <%= render partial: 'user_posts', locals: { posts: @posts, user: @user } %>
    </div>

    <% if current_user == @user %>
        <div class="us-following-posts" id="followinguser-posts">
          <%# フォローユーザーの投稿がなければ記事一覧画面へのリンクを表示 %>
          <% if @following_posts.empty? %>
            <div class="user-following-noposts post-list-container">
              <p>投稿がありません。<br>気になる記事を見つけてその人をフォローしてみましょう。</p>
              <%= link_to root_path, class: "btn-outline-primary btn" do %>
                記事一覧へ
              <% end %>
            </div>
          <% else %>
            <%= render partial: 'following_posts', locals: { following_posts: @following_posts, user: @user } %>
          <% end %>
        </div>
    <% end %>
  </div>
  
</div>