<div class="user-follow">
  <div class="follow-tabs">
    <div class="following-tab active" id="following-tab"><%= user.followings.count %> フォロー中</div>
    <div class="follower-tab" id="follower-tab"><%= user.followers.count %> フォロワー</div>
  </div>

  <div class="following-container active" id="followings-container">
    <% user.followings.each do |user| %>
      <div class="follow-content">
        <%= link_to user_path(user.id) do %>
          <% if user.image.attached? %>
            <%= image_tag user.image %>
          <% else %>
            <%= image_tag 'noimage.png' %>
          <% end %>
        <% end %>
        <%= link_to user_path(user.id) do %>
          <%= user.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="follower-container" id="followers-container">
    <% user.followers.each do |user| %>
      <div class="follow-content">
        <%= link_to user_path(user.id) do %>
          <% if user.image.attached? %>
            <%= image_tag user.image %>
          <% else %>
            <%= image_tag 'noimage.png' %>
          <% end %>
        <% end %>
        <%= link_to user_path(user.id) do %>
          <%= user.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>