<div class="f-post">
  <%= form_with model: post, local: true do |f| %>
    <%= render 'shared/error_message', model: f.object %>
    <div class="f-post-title">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "f-post-title-input", placeholder: "タイトル", autocomplete: "off" %>
    </div>
  
    <div class="f-post-body">
      <%= f.label :body, "本文" %>
      <%= f.text_area :body, class: "f-post-body-input", id: "post-area", rows: "10" %>
    </div>
  
    <div class="btn-submit-post">
      <%= button_tag type: "submit", data: { disable_with: "送信中" } do %>
      <i class='fas fa-pen'></i> 投稿
      <% end %>
    </div>
  
  <% end %>
</div>