<div class="f-post">
  <%= form_with model: post, local: true do |f| %>
    <%= render 'shared/error_message', model: f.object %>
    <div class="f-post-title">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "f-post-title-input", placeholder: "タイトル", autocomplete: "off" %>
    </div>

    <div class="f-tag">
      <%= f.label :tag_names, "タグ" %>
      <%= f.text_field :tag_names, class: "f-tag-input", placeholder: "スペース区切りでタグを入力(Rails Docker Ruby)", autocomplete: "off" %>
    </div>
  
    <div class="f-post-body">
      <%= f.label :body, "本文" %>
      <%= f.text_area :body, class: "f-post-body-input", id: "post-area", rows: "10", placeholder: "本文" %>
    </div>
  
    <div class="btn-submit-post">
      <%= button_tag type: "submit", data: { disable_with: "送信中" }, class: "submit-post" do %>
      <i class="fas fa-external-link-alt"></i> 投稿
      <% end %>
    </div>
  
  <% end %>
</div>