<div class="post-list-container container">
  <ul>
    <% @posts.each do |post| %>
      <div class="post-list-content posts-content">
        <div class="posts-user-imgs">
          <%= link_to user_path(post.user.id) do %>
            <% if post.user.image.attached? %>
              <%= image_tag post.user.thumbnail, class: "user-details-img" %>
            <% else %>
              <%= image_tag 'noimage.png', class: "user-details-img" %>
            <% end %>
          <% end %>
        </div>
        <div class="posts-items">
          <li><%= link_to post.title, post, class: "h3" %></li>
          <p>by:<%= link_to post.user.name, user_path(post.user_id) %></p>
          <p><%= post.created_at.to_s(:date_jp) %>に投稿</p>
        </div>
      </div>
    <% end %>
  </ul>
</div>

<div class="paginate">
  <%= paginate @posts %>
</div>
