<div class="show-post">
  <div class="toc-content">
    <ol id="toc">
    </ol>
  </div>
  
  <div class="post-details">
    <h1 class="post-details-title"><%= @post.title %></h1>
    <p><%= link_to @post.user.name, user_path(@post.user_id) %>さんが<%= @post.created_at.to_s(:datetime_jp) %>に投稿</p>
    <% unless @post.created_at == @post.updated_at %>
      <p><%= @post.updated_at.to_s(:date_jp) %>に更新</p>
    <% end %>
    <div class="post-body" id="toc-range">
      <%= markdown(@post.body) %>
    </div>
  </div>
</div>

<div class="comment-area" id="comments-area">
  <%= render partial: 'comments/comment_index', locals: { comments: @comments } %>
</div>

<% if current_user %>
  <div class="comment-form" id="comment-form">
    <%= render partial: 'comments/comment_form', locals: { post: @post, comment: @comment } %>
  </div>
<% end %>
