<div class="admin-page container">
  <ul class="users-list">
    <% @users.each do |user| %>
      <% unless user.admin? %>
        <%= render partial: 'partial/profile_image', locals: { user: user } %>
        <li class="user-item"><%= user.name %></li>
        <li class="user-item"><%= user.email %></li>
        <li class="user-item"><%= user.profile %></li>
      <% end %>
    <% end %>
  </ul>
</div>


<div class="paginate">
  <%= paginate @users %>
</div>
